aiohttp>=3.8.0
aiohttp_cors>=0.8.0
aiortc>=1.5.0
async-timeout>=4.0.3
attrs>=23.1.0
av>=10.0.0
cffi>=1.16.0
chardet>=5.2.0
crc32c>=2.3
cryptography>=41.0.7
dnspython>=2.4.2
idna>=3.6
multidict>=6.0.4
netifaces>=0.11.0
opencv-python>=4.8.0
pycparser>=2.21
pyee>=9.6.0
pylibsrtp>=0.10.0
pymavlink>=2.4.37
pyserial>=3.5
typing-extensions>=4.9.0
yarl>=1.9.4
filterpy>=1.4.5

# MAVFTP support
mavsdk>=2.0.0
protobuf==5.29.0 